CREATE TABLE "Blog" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "domain" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "niche" TEXT NOT NULL,
    "description" TEXT,
    "theme" TEXT NOT NULL DEFAULT 'dark',
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL
, primaryColor TEXT DEFAULT '#3b82f6', secondaryColor TEXT DEFAULT '#1e40af', layoutStyle TEXT DEFAULT 'magazine', fontFamily TEXT DEFAULT 'inter', logoUrl TEXT DEFAULT '', accentStyle TEXT DEFAULT 'rounded', activeFeatures TEXT DEFAULT '["article","video_series","audio_track","photo_gallery","news_timeline"]', socialLinks TEXT DEFAULT '{}', personaPrompt TEXT, bgPrimary TEXT DEFAULT '#020617', bgSurface TEXT DEFAULT '#1e293b', fontHeading TEXT DEFAULT 'Inter', fontBody TEXT DEFAULT 'Inter', bannerUrl TEXT DEFAULT '');
CREATE TABLE "Category" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "blogId" TEXT NOT NULL,
    CONSTRAINT "Category_blogId_fkey" FOREIGN KEY ("blogId") REFERENCES "Blog" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);
CREATE TABLE "Post" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "title" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "contentMd" TEXT NOT NULL,
    "contentHtml" TEXT NOT NULL,
    "coverImage" TEXT,
    "author" TEXT NOT NULL DEFAULT 'Reda├º├úo IA',
    "isPublished" BOOLEAN NOT NULL DEFAULT false,
    "publishedAt" DATETIME,
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" DATETIME NOT NULL,
    "metaTitle" TEXT,
    "metaDesc" TEXT,
    "blogId" TEXT NOT NULL,
    "categoryId" TEXT, views INTEGER DEFAULT 0, language TEXT DEFAULT 'pt', translationGroupId TEXT, postType TEXT DEFAULT 'article', mediaPayload TEXT DEFAULT '{}', status TEXT DEFAULT 'published', summary TEXT, audioUrl TEXT, videoUrl TEXT,
    CONSTRAINT "Post_blogId_fkey" FOREIGN KEY ("blogId") REFERENCES "Blog" ("id") ON DELETE CASCADE ON UPDATE CASCADE,
    CONSTRAINT "Post_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES "Category" ("id") ON DELETE SET NULL ON UPDATE CASCADE
);
CREATE TABLE "AdPlacement" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "type" TEXT NOT NULL,
    "htmlCode" TEXT NOT NULL,
    "blogId" TEXT NOT NULL,
    CONSTRAINT "AdPlacement_blogId_fkey" FOREIGN KEY ("blogId") REFERENCES "Blog" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);
CREATE TABLE "AgentConfig" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "personaPrompt" TEXT NOT NULL,
    "imageStylePrompt" TEXT NOT NULL,
    "postFrequency" INTEGER NOT NULL DEFAULT 1,
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "blogId" TEXT NOT NULL, youtubeChannelId TEXT, youtubeLastVideoId TEXT, localMemory TEXT DEFAULT '', instagramHandle TEXT DEFAULT '', instagramLastPost TEXT DEFAULT '', twitterHandle TEXT DEFAULT '', twitterLastTweet TEXT DEFAULT '', newsletterLastSent DATETIME, rssSniperUrl TEXT, rssLastGuid TEXT, telegramBotToken TEXT, telegramChatId TEXT, postIntervalHours INTEGER DEFAULT 4, discordWebhookUrl TEXT, whatsappApiUrl TEXT, whatsappGroupId TEXT, rssFeeds TEXT,
    CONSTRAINT "AgentConfig_blogId_fkey" FOREIGN KEY ("blogId") REFERENCES "Blog" ("id") ON DELETE CASCADE ON UPDATE CASCADE
);
CREATE TABLE Subscriber (id TEXT PRIMARY KEY, email TEXT, blogId TEXT, createdAt DATETIME DEFAULT CURRENT_TIMESTAMP, opens INTEGER DEFAULT 0, UNIQUE(email, blogId));
CREATE TABLE Ads (id TEXT PRIMARY KEY, blogId TEXT NOT NULL, type TEXT NOT NULL, code TEXT NOT NULL, isActive INTEGER DEFAULT 1, UNIQUE(blogId, type));
CREATE TABLE PostCategory (postId TEXT NOT NULL, categoryId TEXT NOT NULL, PRIMARY KEY(postId, categoryId));
CREATE TABLE SocialSnippet (id TEXT PRIMARY KEY, postId TEXT NOT NULL, platform TEXT NOT NULL, content TEXT NOT NULL, isPublished BOOLEAN DEFAULT 0, UNIQUE(postId, platform));
CREATE TABLE Comment (id TEXT PRIMARY KEY, postId TEXT NOT NULL, authorName TEXT NOT NULL, authorAvatar TEXT NOT NULL, content TEXT NOT NULL, createdAt DATETIME DEFAULT CURRENT_TIMESTAMP);
CREATE TABLE AffiliateLink (id TEXT PRIMARY KEY, blogId TEXT NOT NULL, keyword TEXT NOT NULL, url TEXT NOT NULL, createdAt DATETIME DEFAULT CURRENT_TIMESTAMP, trackingCode TEXT, estimatedCpc REAL DEFAULT 0.50, totalClicks INTEGER DEFAULT 0);
CREATE TABLE ContentQueue (id TEXT PRIMARY KEY, blogId TEXT NOT NULL, topic TEXT NOT NULL, status TEXT DEFAULT 'pending', createdAt DATETIME DEFAULT CURRENT_TIMESTAMP);
CREATE TABLE NewsletterCampaign (id TEXT PRIMARY KEY, blogId TEXT, subject TEXT, contentHtml TEXT, sentCount INTEGER, createdAt DATETIME DEFAULT CURRENT_TIMESTAMP);
CREATE TABLE DailyViewLog (id TEXT PRIMARY KEY, blogId TEXT, postId TEXT, date TEXT, views INTEGER DEFAULT 0);
CREATE TABLE AffiliateClick (
    id TEXT PRIMARY KEY,
    blogId TEXT NOT NULL,
    postId TEXT,
    affiliateLinkId TEXT,
    linkUrl TEXT NOT NULL,
    linkLabel TEXT,
    clickedAt TEXT DEFAULT (datetime('now')),
    ipHash TEXT,
    country TEXT DEFAULT 'BR',
    revenue REAL DEFAULT 0
  );
CREATE TABLE "SocialQueue" (
    "id" TEXT NOT NULL PRIMARY KEY,
    "blogId" TEXT NOT NULL,
    "postId" TEXT NOT NULL,
    "platform" TEXT NOT NULL,
    "content" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'ready',
    "createdAt" DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT "SocialQueue_blogId_fkey" FOREIGN KEY ("blogId") REFERENCES "Blog" ("id") ON DELETE RESTRICT ON UPDATE CASCADE,
    CONSTRAINT "SocialQueue_postId_fkey" FOREIGN KEY ("postId") REFERENCES "Post" ("id") ON DELETE RESTRICT ON UPDATE CASCADE
);
CREATE TABLE BaitLog (
      id TEXT PRIMARY KEY,
      blogId TEXT NOT NULL,
      platform TEXT NOT NULL,
      targetUrl TEXT NOT NULL,
      targetTitle TEXT NOT NULL,
      targetAuthor TEXT,
      generatedComment TEXT NOT NULL,
      hookType TEXT NOT NULL,
      linkedArticleId TEXT,
      linkedArticleSlug TEXT,
      status TEXT DEFAULT 'GENERATED',
      clicks INTEGER DEFAULT 0,
      createdAt TEXT NOT NULL
    );
CREATE TABLE ConciergeLog (
      id TEXT PRIMARY KEY,
      blogId TEXT NOT NULL,
      visitorId TEXT NOT NULL,
      postSlug TEXT,
      userMessage TEXT NOT NULL,
      botReply TEXT NOT NULL,
      recommendedUrl TEXT,
      recommendedKeyword TEXT,
      capturedEmail TEXT,
      createdAt TEXT NOT NULL
    );
CREATE TABLE Lead (
      id TEXT PRIMARY KEY,
      blogId TEXT NOT NULL,
      email TEXT NOT NULL,
      name TEXT,
      source TEXT,
      createdAt TEXT DEFAULT CURRENT_TIMESTAMP
    );
CREATE TABLE video_render_queue (
      id INTEGER PRIMARY KEY AUTOINCREMENT,
      post_id INTEGER NOT NULL,
      title TEXT NOT NULL,
      summary TEXT NOT NULL,
      image_prompt TEXT,
      search_query TEXT,
      status TEXT DEFAULT 'pending',
      created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
      updated_at DATETIME DEFAULT CURRENT_TIMESTAMP,
      FOREIGN KEY(post_id) REFERENCES posts(id) ON DELETE CASCADE
    );
CREATE TABLE sqlite_sequence(name,seq);
CREATE TABLE knowledge_base (
      id TEXT PRIMARY KEY,
      channelId TEXT NOT NULL,         -- Nome do canal ou nicho (Ex: 'Descarga News', 'Global')
      sourceName TEXT NOT NULL,        -- Nome do arquivo de origem (Ex: 'MEMORIA_ATIVA_SISTEMA.md')
      content TEXT NOT NULL,           -- O par├ígrafo/trecho leg├¡vel
      embedding TEXT NOT NULL,         -- O array num├®rico [0.03, -0.01...] salvo como JSON String
      createdAt DATETIME DEFAULT CURRENT_TIMESTAMP
    );
CREATE TABLE AutonomousLog (
        id TEXT PRIMARY KEY,
        blogId TEXT,
        blogName TEXT,
        decisionType TEXT,
        topic TEXT,
        reasoning TEXT,
        evaluationScore REAL,
        correctionsMade TEXT,
        repostUrl TEXT,
        createdAt TEXT DEFAULT CURRENT_TIMESTAMP
      );
CREATE TABLE Settings (key TEXT PRIMARY KEY, value TEXT);
CREATE TABLE ImmuneLog (
        id TEXT PRIMARY KEY,
        blogId TEXT NOT NULL,
        blogName TEXT NOT NULL,
        postId TEXT NOT NULL,
        postTitle TEXT NOT NULL,
        actionType TEXT NOT NULL,
        details TEXT NOT NULL,
        scoreBefore REAL,
        scoreAfter REAL,
        createdAt DATETIME DEFAULT CURRENT_TIMESTAMP
      );
CREATE TABLE EndocrineLog (
        id TEXT PRIMARY KEY,
        blogId TEXT NOT NULL,
        blogName TEXT NOT NULL,
        actionType TEXT NOT NULL,
        details TEXT NOT NULL,
        hormoneBalance TEXT,
        createdAt DATETIME DEFAULT CURRENT_TIMESTAMP
      );
CREATE TABLE ContentSource (
      id TEXT PRIMARY KEY,
      blogId TEXT NOT NULL,
      name TEXT NOT NULL,
      rssUrl TEXT NOT NULL,
      niche TEXT DEFAULT 'geral',
      isActive INTEGER DEFAULT 1,
      createdAt TEXT DEFAULT CURRENT_TIMESTAMP,
      FOREIGN KEY (blogId) REFERENCES Blog(id) ON DELETE CASCADE
    );
CREATE TABLE WebStory (
    id TEXT PRIMARY KEY,
    blogId TEXT,
    title TEXT,
    videoUrl TEXT,
    imageUrl TEXT,
    content TEXT,
    createdAt DATETIME DEFAULT CURRENT_TIMESTAMP,
    FOREIGN KEY(blogId) REFERENCES Blog(id)
  );
CREATE TABLE SeoHealerLog (
        id TEXT PRIMARY KEY,
        blogId TEXT NOT NULL,
        blogName TEXT NOT NULL,
        postId TEXT NOT NULL,
        postTitle TEXT NOT NULL,
        actionType TEXT NOT NULL,
        details TEXT NOT NULL,
        createdAt DATETIME DEFAULT CURRENT_TIMESTAMP
      );
CREATE TABLE TrendForecast (
        id TEXT PRIMARY KEY,
        blogId TEXT NOT NULL,
        blogName TEXT NOT NULL,
        topic TEXT NOT NULL,
        category TEXT DEFAULT 'Geral',
        confidenceScore REAL DEFAULT 0,
        trendWindow TEXT DEFAULT '24h',
        reasoning TEXT NOT NULL,
        scheduledFor DATETIME NOT NULL,
        status TEXT DEFAULT 'queued',
        createdAt DATETIME DEFAULT CURRENT_TIMESTAMP
      );
CREATE TABLE ChannelMetric (
        id TEXT PRIMARY KEY,
        blogId TEXT NOT NULL,
        blogName TEXT NOT NULL,
        platform TEXT NOT NULL,
        metricType TEXT NOT NULL,
        value REAL DEFAULT 0,
        delta REAL DEFAULT 0,
        trend TEXT DEFAULT 'stable',
        recordedAt DATETIME DEFAULT CURRENT_TIMESTAMP
      );
CREATE TABLE CrossChannelInsight (
        id TEXT PRIMARY KEY,
        blogId TEXT NOT NULL,
        summary TEXT NOT NULL,
        recommendation TEXT NOT NULL,
        priorityPlatform TEXT NOT NULL,
        createdAt DATETIME DEFAULT CURRENT_TIMESTAMP
      );
CREATE TABLE GenesisLog (
        id TEXT PRIMARY KEY,
        blogId TEXT NOT NULL,
        blogName TEXT NOT NULL,
        categoryName TEXT NOT NULL,
        categorySlug TEXT NOT NULL,
        actionType TEXT NOT NULL,
        details TEXT NOT NULL,
        createdAt DATETIME DEFAULT CURRENT_TIMESTAMP
      );
CREATE TABLE SynapseLog (
        id TEXT PRIMARY KEY,
        blogId TEXT NOT NULL,
        blogName TEXT NOT NULL,
        postId TEXT NOT NULL,
        postTitle TEXT NOT NULL,
        actionType TEXT NOT NULL,
        details TEXT NOT NULL,
        scoreBefore REAL,
        scoreAfter REAL,
        createdAt DATETIME DEFAULT CURRENT_TIMESTAMP
      );
CREATE TABLE DaoTopic (
  id TEXT PRIMARY KEY,
  title TEXT,
  description TEXT,
  votes INTEGER DEFAULT 0,
  status TEXT DEFAULT 'pending',
  createdAt DATETIME DEFAULT CURRENT_TIMESTAMP
);
CREATE TABLE GlobalLead (
      id TEXT PRIMARY KEY,
      email TEXT UNIQUE NOT NULL,
      sourceBlogId TEXT,
      score INTEGER DEFAULT 0,
      createdAt DATETIME DEFAULT CURRENT_TIMESTAMP
    );
